.slick-prev, .slick-next{
    background-color: #aeafb2;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 99;
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}

.slick-prev {
    left: 100px;
}
.slick-next {
    right: 100px;
}

.slick-arrow {
    color: var(--white-color);
    font-size: 2.4rem;
    opacity: 1;
}

.slick-prev:before, .slick-next:before {
    display: none;
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    background: #ED1C24;
    
}

.pre-icon {
    color: white;
}