

.slider {
    flex-direction: column;
    display: flex;
    position: relative;
}

.slider-list{
    overflow: hidden;
    position: absolute;
}


.slider-link {
    padding-top: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;

}

/* statistical  */
.statistical {
    background: var(--red);
    position: absolute;
    bottom: 0;
    width: 100%;

}
.statistical-section {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: center;

}

.statistical-text {
    color: var(--white-color);
    padding-left: 28px;

}
.statistical-heading {
    font-size: 1.8rem;

}
.statistical-sub {
    font-size: 1.6rem;
}


/* news */

.news-item {
    position: relative;

}
.news-heading {
    margin-top: 52px;

}
.news-heading-text {
    display: block;
    font-size: 2.4rem;
    margin-bottom:22px;
    position: relative;
    padding-bottom: 15px;
}
.news-heading-text:hover {
    color: var(--red);
}
.news-heading-text::before {
    content: '';
    display: block;
    background: var(--red);
    width: 60px;
    height: 4px;
    position: absolute;
    bottom: 0;
}
.news-img {
    padding: 6px;
    border: solid 1px #dfdfdf;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;

}
.news-img:hover {
    border: 1px var(--red) solid;
}
.news-img::before {
     padding-bottom: calc(227/345*100%);
     display: block;
     content: '';
}
.news-img-link {
    display: inline-block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    border: 6px solid #fff;

}
.news-img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.news-content-body {
    display: flex;
    flex-direction: column;

}
.introduce-content-heading {
    font-size: 3rem;
    color: var(--red);
    font-size: 1.6rem;
    margin-top: 14px;
    margin-bottom: 12px;
}
.year {
    font-size: 3rem;
    color: var(--year-color);
}
.news-content-sub {
    text-align: justify;
    height: 94px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 400;

}
.news-content-more {
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    bottom: -22px;

}
.news-content-heading {
    font-size: 1.3rem;
    
}
.news-content-heading:hover {
    color: var(--red);
}
.calendar {
    margin-top: 8px;
    color: #999;
    font-weight: 200;

}
.calendar-icon {
    font-size: 1.5rem;


}
.calendar-time {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* document */

.document-item {
display: flex;
align-items: center;

}
.document-item :hover .document-text {
    color: var(--red);

}
.document-icon {
    color: var(--red);
    margin-right: 5px;

}
.document-text {
    font-size: 1.5rem;
    transition: all 0.5s ease;
    font-weight: 400;

}